/*FONT*/
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  background-color: #444;
}

.game {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #333;
  font-family: 'Pacifico', cursive;
  width: 700px;
  text-align: center;
}

h1 {
  color: gold;
  margin: 0;
  font-size: 60px
}

.board {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.score {
  color: white;
  font-size: 40px;
}

.bestScore {
  font-size: 20px;
  color: white;
}

.card {
  border-radius: 5px;
  margin: 5px 5px 0 0;
  width: 150px;  /* Or whatever */
  height: 150px; /* Or whatever */
}

.card.matched {
  opacity: 0.3;
}

button {
  display: inline-block;
  position: relative;
  overflow: visible;
  width: auto;
  zoom: 1;
  padding: 0.5em 1.3em 0.5em 1.3em;
  margin: 1em;
  border-radius: 0;
  text-decoration: none;
  text-shadow: none;
  white-space: nowrap;
  font-size: 1.5em;
  letter-spacing: -.01em;
  font-family: 'Pacifico', cursive;
  line-height: 1.5;
  color: black;
  border: none;
  background-color: gold;
  cursor: pointer;
}
